@model List<Shopping_Cart.ViewModels.BookViewModel>
@{
    const int maxPerRow = 3;
    int counter = 0;
}

<div class="row">
    @foreach (var book in Model)
    {
        counter++;
        if (counter > maxPerRow)
        {
            counter = 0;
            @Html.Raw("</div>")
            @Html.Raw("<div class=\"row\">");
        }
        <div class="col-md-4">
            <a href="@Url.Action("Details", "Books", new {book.Id})" class="thumbnail">
                <img src="@book.ImageUrl" alt="@book.Title" title="@book.Title"/>
                <span class="label label-success">Save @book.SavePercentage %</span>
            </a>
            <h4><a href="@Url.Action("Details", "Books", new {book.Id})">
                @book.Title
            </a></h4>
            <p>@book.Author.FullName</p>
            <p>Preço: R$@book.SalePrice</p>
            <p>Preço Original: <span style="text-decoration: line-through">
                R$@book.ListPrice
            </span></p>
        </div>
    }
</div>